div {
	margin-bottom: -5px;
}

.position{
	width:750px;
	margin: 0 auto;
}

.menu{
	margin-bottom: 20px;
}
.main{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.one{
	float: left;
	width: 25%;
}

.two{
	float:right;
	width: 75%;
}
.buttons{
	margin-top: 20px;
	margin-right: 10px;
	text-align: right;
}