.logo{
	float:right;
	margin-right: 20%;
}

.logo img{
	width: 350px;
}

.menu{
	position: absolute;
    right: 0px;
    top: 146px;
    z-index: 2;
    background-color:rgba(255, 102, 0,0.6);    
    width: 40%;
    height: 600px;


}


.menu li{
	font-size: 36px;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	line-height: 1.5;
	text-indent: 30px;
}

.menu ul{
	margin-left: -40px;
}
.menu a:hover{
	color: #ffc299;

}
.menu a{
	color: #fff;


}

#schema{
	width: 100%;
}
.block{
	height: 400px;
	background-image: url('carousel/img/flicker-1.jpg');
	color: #fff;
	font-size: 50px;
	text-align: center;
	padding-top: 10%;
	padding-left: 40px;
	padding-right: 40px;
}