body{
	overflow-y: scroll;
	overflow-x: hidden;
}
.lang{
	position: absolute;
	z-index: 9999;
	top: 0px;
	left: 15%;
	font-size: 40px;
}

.lang div{
	width: 70px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}

.lang .active{
	background-color: rgba(255, 102, 0,1);
}
.lang a{
	color: #fff;
}
.logo{
	float:right;
	margin-right: 0px;
	width: 40%;
	
}

.logo img{
	width: 350px;
}

.menu{
	position: absolute;
    right: 0px;
    top: 146px;
    z-index: 2;
    background-color:rgba(255, 102, 0,0.6);    
    width: 40%;
    height: 600px;


}


.menu li{
	font-size: 36px;
	list-style-type: none;
	border-bottom: 1px solid #fff;
	line-height: 1.5;
	text-indent: 30px;
}

.menu ul{
	margin-left: -40px;
}
.menu a:hover{
	color: #ffc299;

}
.menu a{
	color: #fff;


}

#schema{
	width: 100%;
}
.block{
	height: 400px;
	background-image: url('carousel/img/flicker-1.jpg');
	color: #fff;
	font-size: 50px;
	text-align: center;
	padding-top: 10%;
	padding-left: 40px;
	padding-right: 40px;
}

h1{
	color:rgba(255, 102, 0,0.6);
	margin-left: 10%; 
}

.row{
	text-align: center;
	margin-bottom: 40px;

}
.col-sm-6{
	display: inline-block;
	margin: 0 20px 0 20px;
}
.footer{
	height: 400px;
	background-color: #ffc299;
}
.map-block{
	z-index: 9999;
	position: absolute;
	right: 40px;
	height: 400px;
	width: 250px;
	background-color: #fff;
}

.map-block img{
	width: 100%;
}

.map-block img:nth-child(2n){
	position: absolute;
	bottom: 0px;
}

#logo2{
	position: absolute;
	left: 30px;
}
